root = true

[*.{cs,csx}]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Code style
indent_style = space
indent_size = 4

# C# formatting
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true

# Naming
dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public

dotnet_naming_style.begins_with_i.required_prefix = I

# Quality
dotnet_diagnostic.CA1062.severity = warning
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.IDE0001.severity = error
dotnet_diagnostic.IDE0002.severity = error

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false